@import "mixins"

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width : 480px)
    #header
        nav
            a
                div
                    .fa
                        font-size: 14px
                    font-size: 12px
        min-height: 100vh
        h1
            line-height: 42px
            font-size: 42px
        h2
            font-size: 24px
        nav
            margin-top: 15px
    #header .header-logo
        padding-left: 50px
    .header
        &-search
            &-btn1,
            &-btn2
                height: 27px
                width: 27px
                margin-top: 11px
                .fa
                    font-size: 27px
            &-btn1
                margin-right: 32px
            &-btn2
                margin-right: 3px
            right: 4%
            margin-top: 10px
            width: 92%
            padding-top: 11px
            &-form
                padding: 15px
    .wedo-imgd
        &-grad
            i
                font-size: 1rem
                margin-top: -13%
            h5
                font-size: 0.5rem
                margin-top: 10px
        width: 100%
        padding-top: 66%
    .wedo2-cont
        padding: 0 5%
    .wedo2-item
        width: 30%
        padding: 2% 0
    #wedo2
        h3
            font-size: 40px
        p
            font-size: 14px
    .with-box
        margin: 10px 0px
        padding: 0px 20px
/* Extra Small Devices, Phones */
@media only screen and (min-width : 481px) and (max-width : 767px)
    #header
        nav
            a
                div
                    .fa
                        font-size: 25px
                    font-size: 18px
        min-height: 100vh
        h1
            line-height: 52px
            font-size: 52px
        h2
            font-size: 28px
        nav
            margin-top: 15px
    #header .header-logo
        padding-left: 50px
    .header
        &-search
            &-btn1,
            &-btn2
                height: 40px
                width: 40px
                margin-top: 11px
                .fa
                    font-size: 25px
            &-btn1
                margin-right: 48px
            &-btn2
                margin-right: 3px
            right: 4%
            margin-top: 10px
            width: 62%
            padding-top: 12px
            &-form
                padding: 20px
    .wedo-imgd
        &-grad
            i
                font-size: 30px
                margin-top: -20px
            h5
                font-size: 15px
                margin-top: 20px
        width: 110%
        padding-top: 73%
    .wedo
        .col-4
            .wedo-imgd
                width: 100%
                padding-top: 66%
    .wedo2-cont
        padding: 0 10%
    .wedo2-item
        width: 19%
        padding: 2% 0
    #wedo2
        h3
            font-size: 40px
        p
            font-size: 10px
            
    .with-box
        min-height: 146px
        margin: 10px 0px
        padding: 0px 20px

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 991px)
    #header
        nav
            a
                div
                    .fa
                        font-size: 25px
                    font-size: 22px
        min-height: 100vh
        h1
            line-height: 64px
            font-size: 64px
        h2
            font-size: 32px
        nav
            margin-top: 15px
    #header .header-logo
        padding-left: 50px
    .header
        &-search
            &-btn1,
            &-btn2
                height: 42px
                width: 42px
                margin-top: 13px
                .fa
                    font-size: 25px
            &-btn1
                margin-right: 47px
            &-btn2
                margin-right: 3px
            right: 4%
            margin-top: 10px
            width: 62%
            padding-top: 15px
            &-form
                padding: 20px
    .wedo-imgd
        width: 105%
        padding-top: 70%
        &-grad
            i
                font-size: 40px
                margin-top: -30px
            h5
                font-size: 20px
                margin-top: 25px
    .wedo2-cont
        padding: 0 10%
    .wedo2-item
        width: 19%
        padding: 2% 0
    #wedo2
        h3
            font-size: 40px
        p
            font-size: 14px
    .with-box
        min-height: 146px
        margin: 20px 0px
        padding: 0px 15px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1199px)
    #header
        nav
            a
                div
                    .fa
                        font-size: 20px
                    font-size: 17px
        h1
            line-height: 100px
            font-size: 100px
        h2
            font-size: 48px
        min-height: 100vh
        background-position:  50% 0%
    .header
        &-search
            &-btn1,
            &-btn2
                height: 27px
                width: 27px
                .fa
                    font-size: 23px
            &-btn1
                margin-right: 32px
            &-btn2
                margin-right: 3px
            margin-top: 10px
            right: 4%
            margin-top: 10px
            width: 48%
            &-form
                padding: 15px
        &-nav2
            &-point
                font-size: 24px
            &-h
                font-size: 18px
    .wedo-imgd
        width: 100%
        padding-top: 66%
        &-grad
            i
                font-size: 60px
                margin-top: -30px
            h5
                font-size: 28px
                margin-top: 35px
    .wedo2-cont
        padding: 0 10%
    .wedo2-item
        width: 19%
        padding: 3% 0
    #wedo2
        h3
            font-size: 72px
        p
            font-size: 20x
    .with-box
        margin: 30px 0px
        padding: 0px 10px
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
    #header
        nav
            a
                div
                    .fa
                        font-size: 20px
                    font-size: 17px
        h1
            line-height: 100px
            font-size: 100px
        h2
            font-size: 48px
        min-height: 100vh
        background-position:  50% 0%
    .header
        &-search
            &-btn1,
            &-btn2
                height: 27px
                width: 27px
                .fa
                    font-size: 23px
            &-btn1
                margin-right: 32px
            &-btn2
                margin-right: 3px
            right: 4%
            margin-top: 10px
            width: 48%
            &-form            
                padding: 15px
    .wedo-imgd
        &-grad
            i
                font-size: 60px
                margin-top: -30px
            h5
                font-size: 28px
                margin-top: 35px
        width: 90%
        padding-top: 60%
    .wedo2-cont
        padding: 0 10%
    .wedo2-item
        width: 19%
        padding: 5% 0
    #wedo2
        h3
            font-size: 72px
        p
            font-size: 20px
    .with-box
        margin: 30px 0px
        padding: 0px 10px