/*==========  Mobile First  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #header {
    min-height: 100vh; }
    #header h1 {
      line-height: 42px;
      font-size: 42px; }
    #header h2 {
      font-size: 24px; }
    #header nav {
      margin-top: 15px; }

  #header .header-logo {
    padding-left: 50px; }

  .head-nav2-point {
    opacity: 0;
    font-size: 8px; }
  .head-nav2-h {
    font-size: 8px; } }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #header {
    min-height: 100vh; }
    #header h1 {
      line-height: 52px;
      font-size: 52px; }
    #header h2 {
      font-size: 28px; }
    #header nav {
      margin-top: 15px; }

  #header .header-logo {
    padding-left: 50px; }

  .head-nav2-point {
    opacity: 0;
    font-size: 8px; }
  .head-nav2-h {
    font-size: 8px; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #header {
    min-height: 100vh; }
    #header h1 {
      line-height: 64px;
      font-size: 64px; }
    #header h2 {
      font-size: 32px; }
    #header nav {
      margin-top: 15px; }

  #header .header-logo {
    padding-left: 50px; }

  .head-nav2-point {
    font-size: 24px; }
  .head-nav2-h {
    font-size: 18px; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #header {
    min-height: 100vh;
    background-position: 50% 0%; }
    #header h1 {
      line-height: 100px;
      font-size: 100px; }
    #header h2 {
      font-size: 48px; }

  .head-nav2-point {
    font-size: 24px; }
  .head-nav2-h {
    font-size: 18px; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #header {
    min-height: 100vh;
    background-position: 50% 0%; }
    #header h1 {
      line-height: 100px;
      font-size: 100px; }
    #header h2 {
      font-size: 48px; }

  .head-nav2-point {
    font-size: 24px; }
  .head-nav2-h {
    font-size: 18px; } }
@font-face {
  font-family: "MyPro";
  src: url("../fonts/MyriadPro-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }
.fa {
  font-size: 30px; }

#header {
  background-image: url("../img/header_bg.jpg");
  padding-top: 5vh;
  color: white;
  background-repeat: no-repeat; }
  #header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    #header nav a {
      padding-top: 15px;
      width: 90%;
      height: 50px;
      margin: auto; }
      #header nav a:hover {
        text-decoration: none;
        border-bottom: 3px solid #fce38a;
        color: #fce38a; }
        #header nav a:hover span {
          opacity: 1; }
    #header nav-p1 {
      width: 90%;
      height: 50px;
      margin: auto; }
  #header h2 {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center; }
  #header h1 {
    text-align: center; }

a,
a:visited,
a:active,
a:hover {
  color: white;
  text-decoration: none; }

a:hover {
  border-bottom: 3px solid white;
  color: white; }

.hover div:hover span {
  text-decoration: none;
  border-bottom: 3px solid #fce38a;
  color: #fce38a; }

body {
  font-family: "MyPro"; }

.header-nav-line span {
  height: 3px;
  width: 20px;
  position: absolute;
  bottom: 0;
  left: 0; }
.header-btn {
  margin-top: 80px;
  margin-bottom: 50px;
  height: 60px;
  width: 200px;
  border: solid white 4px;
  background-color: transparent;
  font-size: 22px;
  color: white;
  position: relative; }
  .header-btn-line {
    top: 0;
    right: 0;
    height: 4px;
    width: 100px;
    background-color: white;
    color: white;
    position: absolute;
    transform: translateX(-47px);
    margin-top: -50px; }
.header-logo {
  font-size: 30px; }
.header-nav2-text a:hover {
  text-decoration: none; }
.header-nav2-point {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 50px; }
  .header-nav2-point a:hover span {
    text-decoration: none;
    border-bottom: 3px solid #fce38a;
    color: #fce38a; }
  .header-nav2-point-progress {
    top: 0;
    left: 16px;
    height: 3px;
    width: 90%;
    background-color: white;
    color: white;
    position: absolute;
    margin-top: 10px; }

.pr1 {
  z-index: 100;
  top: 0;
  left: 16px;
  height: 3px;
  width: 30%;
  background-color: #f38181;
  color: #f38181;
  position: absolute;
  margin-top: 10px; }

/*# sourceMappingURL=style.css.map */
