/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    min-height: 100px; }
  .features-wrapper {
    margin-bottom: 40px;
    padding-top: 50px; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  body {
    min-height: 100px; }
  .features-wrapper {
    margin-bottom: 100px; }
  .features-wrapper {
    margin-bottom: 40px;
    padding-top: 50px; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    min-height: 100px; }
  .features-wrapper {
    margin-bottom: 70px; }
  .features-block {
    padding-top: 70px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    min-height: 100px; }
  .features-wrapper {
    margin-bottom: 100px; }
  .features-block {
    padding-top: 100px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  body {
    min-height: 100px; }
  .features-wrapper {
    margin-bottom: 100px; }
  .features-block {
    padding-top: 100px; } }

#features {
  font-family: 'Lato', sans-serif;
  background-color: #fff; }
  #features .features-block {
    height: 22em;
    padding-right: 20px;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #features .features-block img {
      width: 40px;
      display: block; }
    #features .features-block h2 {
      display: block;
      font-size: 1.5em;
      color: #26272d; }
    #features .features-block p {
      display: block;
      font-size: 1em;
      color: #8c8f94; }
