@import "media","mixins"
#features
    font-family: 'Lato', sans-serif
    background-color: #fff
    .features
        &-block
            height: 22em
            padding-right: 20px
            padding-left: 20px
            img
                width: 40px
                display: block
            h2
                display: block
                font-size: 1.5em
                color: $base-black
            p
                display: block
                font-size: 1em
                color: $base-grey
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: space-around