@import "media","mixins"
@font-face
    font-family: "MyPro"
    src: url("../fonts/MyriadPro-Regular.otf") format("truetype") 
    font-style: normal
    font-weight: normal

.rel
    position: relative
button
    outline:none
button:focus
    outline: none
#header
    nav
        a
            flex-grow: 1
            flex-shrink: 1
            &:hover
                span
                    opacity: 1
                text-decoration: none
                border-bottom: 3px solid $orange
                color: $orange
            padding-top: 15px
            height: 50px
            margin: auto
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
    background-image: url("../img/header_bg.jpg")
    padding-top: 5vh
    color: white
    background-repeat: no-repeat
    h2
        margin-top: 100px
        margin-bottom: 30px
        text-align: center
    h1
        text-align: center
a,
a:visited,
a:active,
a:hover
    color: white
    text-decoration: none 
a:hover
    color: white
.hover
    div
        &:hover
            span
                text-decoration: none
                border-bottom: 3px solid $orange
                color: $orange
body
    font-family: "MyPro"
.header
    &-search
        display: none
        input
            border-radius: 5px
            border: white solid 3px
            background-color: transparent
            outline: none
            color: white
            font-size: 21px
            &:focus
                border: white solid 3px
                outline: none
                color: white
        &-btn1,
        &-btn2
            i
                vertical-align: middle
                text-align: center 
                display: block
            position: absolute
            background-color: transparent
            border: none
            top: 3px
            right: 3px
            color: white
        position: absolute
        height: 50px
        top: 0
        &-form
            width: 100%
            display: block
            position: absolute
            height: 30px
    &-nav
        &-p1
            opacity: 1
            width: 90%
            height: 100%
    &-btn
        margin-top: 80px
        margin-bottom: 50px
        height: 60px
        width: 200px
        border: solid white 4px
        background-color: transparent
        font-size: 22px
        color: white
        position: relative
        &-line
            top: 0
            right: 0
            height: 4px
            width: 100px
            background-color: white
            color: white
            position: absolute
            transform: translateX(-47px)
            margin-top: -50px
    &-logo
        font-size: 30px
    &-nav2
        &-text
            a:hover
                text-decoration: none
        &-point
            a
                &:hover
                    span
                        text-decoration: none
                        border-bottom: 3px solid $orange
                        color: $orange
            padding: 0px
            &-progress
                top: 0
                left: 5px
                height: 3px
                width: 90%
                background-color: white
                color: white
                position: absolute
                margin-top: 10px
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: flex-end
            height: 50px
.section
    &-header
        text-align: center
        display: flex
        flex-direction: column
        align-items: center
        h6
            margin-top: 70px
            font-family: 'Kaushan Script', cursive
            font-size: 30px
            color: $grey2
        h2
            margin-top: 15px
            font-family: 'Montserrat', sans-serif
            font-size: 38px
            color: $grey2
        span
            margin-top: 25px
            width: 150px
            height: 4px
            background-color: $red
            color: $red
        p
            margin-top: 40px
            font-size: 15px
            margin-bottom: 70px
            color: $grey

.wedo
    &-imgd
        margin-bottom: 40px
        background-color: $blue
        max-width: 350px
        max-height: 260px
        width: 25vw
        height: 17vw
        position: relative
        &-grad
            background: linear-gradient(#db7474, #e3cc7c)
            i
                position: absolute
                color: white
                font-size: 60px
                opacity: 0
                z-index: 900
                margin-top: -20px
                transition-duration: 0.5s
            h5
                position: absolute
                font-size: 28px
                color: white
                font-family: 'Montserrat', sans-serif
                opacity: 0
                z-index: 900
                display: block
                text-align: center
                margin-top: 35px
                transition-duration: 0.5s
            position: absolute
            width: 100%
            height: 100%
            top: 0
            bottom: 0
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            img
                z-index: 0
                position: absolute
                top: 0
                bottom: 0
                opacity: 1
                width: 100%
                height: 100%
                transition-duration: 1s
            transition-duration: 1s
            &:hover
                i,
                h5
                    transition-duration: 1s
                    opacity: 1
                img
                    transition-duration: 1s
                    opacity: 0.1
                margin-top: -10px
                margin-left: -10px
.pr1
    z-index: 100
    top: 0
    left: 5px
    height: 3px
    width: 30%
    background-color: $red
    color: $red
    position: absolute
    margin-top: 10px
.pr2
    z-index: 100
    top: 0
    left: 5px
    height: 3px
    width: 30%
    background-color: $red
    color: $red
    position: absolute
    margin-top: 10px
.pr3
    z-index: 100
    top: 0
    left: 5px
    height: 3px
    width: 20%
    background-color: $red
    color: $red
    position: absolute
    margin-top: 10px
.pr4
    z-index: 100
    top: 0
    left: 5px
    height: 3px
    width: 30%
    background-color: $red
    color: $red
    position: absolute
    margin-top: 10px