/*==========  Mobile First  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .formular button {
    width: 30px;
    height: 30px; }
    .formular button i {
      margin-left: -4px; }

  .ulrel {
    width: 100%; }
    .ulrel ul {
      margin-left: -0.5vw; }
      .ulrel ul li {
        max-width: 60vw; }

  .main-display {
    height: 50vw; }

  #nav .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .ul-abs {
    padding-bottom: 20px;
    position: absolute;
    z-index: 400;
    left: 0; }
    .ul-abs .main-set-tabul {
      display: none; }
    .ul-abs #graf {
      position: relative;
      display: block; }

  .tab-rel h4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 1.2em !important;
    margin-top: 60px; } }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .formular button {
    width: 40px;
    height: 40px; }
    .formular button i {
      margin-left: -2px; }

  .ulrel {
    width: 100%; }
    .ulrel ul {
      margin-left: -1.5vw; }
      .ulrel ul li {
        max-width: 50vw; }

  .main-display {
    height: 55vw; }

  #app .container {
    width: 97% !important; }

  body {
    font-size: 22px; }

  #nav .nav-bar {
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .ul-abs {
    padding-bottom: 20px;
    position: absolute;
    z-index: 400;
    left: 0; }
    .ul-abs .main-set-tabul {
      display: none; }
    .ul-abs #graf {
      position: relative;
      display: block; }

  .tab-rel h4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 1.2em !important;
    margin-top: 60px; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .formular button {
    width: 50px;
    height: 50px; }

  .ulrel {
    width: 100%; }
    .ulrel ul {
      margin-left: -2vw; }
      .ulrel ul li {
        max-width: 50vw; }

  .main-display {
    height: 50vw; }

  #app {
    margin: 0 10% 75px 10%; }
    #app .container {
      margin: auto;
      width: 95% !important; }

  body {
    font-size: 24px; }

  #nav .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .ul-abs {
    padding-bottom: 20px;
    position: absolute;
    z-index: 400;
    left: 0; }
    .ul-abs .main-set-tabul {
      display: none; }
    .ul-abs #graf {
      position: relative;
      display: block; }

  .tab-rel h4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 1.2em !important;
    margin-top: 60px; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .formular button {
    width: 50px;
    height: 50px; }

  .main-display {
    height: 77vh;
    max-height: 50vw; }

  body {
    font-size: 24px; }

  #nav .nav-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

  .ul-abs .main-set-tabul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .formular button {
    width: 50px;
    height: 50px; }

  .main-display {
    height: 77vh;
    max-height: 50vw; }

  body {
    font-size: 28px; }

  #nav .nav-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

  .ul-abs .main-set-tabul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }
button {
  outline: none; }

button:focus {
  outline: none; }

button:hover {
  cursor: pointer; }

label:hover {
  cursor: pointer; }

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/body-bg.png);
  background-color: #2451c4;
  background-repeat: repeat-y;
  background-size: 2200px; }

#header h1 {
  margin-top: 10vh;
  color: white;
  font-weight: 700;
  font-size: 2.5em; }
#header p {
  margin-top: 7vh;
  color: white;
  font-weight: 400i;
  font-size: 0.8em; }

#nav {
  margin-top: 10vh; }
  #nav .nav-bar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #nav .nav-bar button {
      width: 90%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 3px 30px;
      background: rgba(36, 81, 196, 0.5);
      border-top: 3px solid rgba(255, 255, 255, 0.2);
      border-bottom: 3px solid rgba(255, 255, 255, 0.2);
      color: white;
      border-left: none;
      border-right: none;
      font-weight: 400i;
      font-size: 1.1em;
      padding: 5px 10px; }
      #nav .nav-bar button .fa {
        display: inline-block;
        font-size: 0.6em;
        margin-right: 7px; }

#app .main {
  background-color: white;
  padding: 5vh; }
  #app .main h3 {
    color: #FFBD40;
    margin-bottom: 10px;
    font-weight: 400i;
    font-size: 1.1em; }
  #app .main-display {
    margin: auto;
    width: 95%;
    border: solid 3px #dbdbdb; }
  #app .main-set {
    margin-top: 40px; }
    #app .main-set-box form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: space-between;
          -ms-flex-align: space-between;
              align-items: space-between; }
    #app .main-set-box h5 {
      margin-left: 20px;
      color: #FF9640;
      font-size: 1em; }
    #app .main-set h4 {
      padding: 5px 10%;
      color: #4671D5; }
    #app .main-set-tabli {
      background-color: #fff;
      margin-top: -4px;
      width: 100%;
      min-height: 50px;
      font-size: 0.63em;
      color: #1240AB;
      border-right: none;
      border-left: none;
      border-top: 4px solid #dce6ff;
      border-bottom: 4px solid #dce6ff; }
      #app .main-set-tabli:hover {
        cursor: pointer; }
    #app .main-set-tabul {
      position: relative;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    #app .main-set h3 {
      margin-top: 30px; }

.ul-abs h4 {
  margin-top: 7px;
  display: block;
  color: #4671D5; }
.ul-abs #graf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background-color: white;
  width: 100%;
  margin-bottom: 5px;
  z-index: 500;
  border: 3px solid #2451c4; }
  .ul-abs #graf i {
    display: inline;
    font-size: 28px;
    margin: none;
    color: #4671D5; }

.build {
  margin-right: 35px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 600;
  font-size: 1.1em;
  min-width: 30%;
  padding: 10px 20px;
  color: white;
  border: none;
  background-color: #4671D5 !important; }

.active {
  z-index: 900;
  border-right: 5px solid #FFBD40 !important;
  border-left: 5px solid #FFBD40 !important; }

.rcl {
  width: 20%;
  height: 40px;
  border: 8px solid tranparent; }
  .rcl:nth-child(1) {
    background-color: #111; }
  .rcl:nth-child(2) {
    background-color: #fff; }
  .rcl:nth-child(3) {
    background-color: #3f3; }
  .rcl:nth-child(4) {
    background-color: #44f; }

.rcl {
  margin-top: 10px; }

.radio-cl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 5px 80px 5px; }
  .radio-cl label {
    width: 100%;
    height: 40px;
    border: 5px solid #dbdbdb; }
  .radio-cl input {
    display: none; }
    .radio-cl input:checked + label {
      border: 5px solid #FFDE40; }

.args {
  font-size: 0.8em;
  color: #FFBD40;
  margin-left: 20%; }
  .args input[type=text] {
    font-size: 0.75em;
    text-align: center;
    color: #929292 !important;
    width: 60px;
    height: 30px;
    margin: 3px 5px;
    padding: 0 3px;
    border-top: 3px solid #dce6ff;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #dce6ff; }
    .args input[type=text]:active {
      outline: none; }

.formular {
  position: relative;
  color: #888;
  margin-left: 20%;
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .formular button {
    cursor: help;
    color: white;
    font-size: 1.05em;
    border: 5px solid #FFEE9C;
    position: absolute;
    top: 0;
    right: 15%;
    background-color: #FFBD40; }
    .formular button i {
      display: block; }
  .formular .between {
    margin: 0 0.3em; }
  .formular .drob {
    font-size: 0.85em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .formular .drob span {
      width: 100%;
      height: 2px;
      background-color: #888;
      color: #888; }

#info {
  margin-top: 80px; }

.info-tab {
  background-color: #fff; }
  .info-tab h4 {
    font-size: 30px;
    color: #264aa6;
    margin: 40px auto; }

footer {
  color: white;
  font-size: 0.65em;
  padding: 20px;
  margin-top: 50px;
  background-color: #274E7D; }
  footer .row .col-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .row .col-6 div {
      margin: auto;
      text-align: center;
      width: 90%;
      padding: 5px; }
    footer .row .col-6 a {
      margin: auto;
      text-align: center;
      width: 90%;
      padding: 5px;
      color: white;
      display: block;
      border-bottom: 3px solid #274E7D;
      border-top: 3px solid #274E7D; }
      footer .row .col-6 a:active {
        color: white;
        text-decoration: none; }
      footer .row .col-6 a:hover {
        color: white;
        text-decoration: none;
        border-bottom: 3px solid #FFBD40;
        border-top: 3px solid #FFBD40; }

.ulrel {
  display: inline;
  position: relative; }
  .ulrel .none-ul {
    display: none; }
  .ulrel ul {
    z-index: 600;
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .ulrel ul li {
      cursor: pointer;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      background-color: #4671D5;
      margin-top: 1px;
      border-top: 3px solid #dce6ff;
      border-bottom: 3px solid #dce6ff;
      padding: 5px 0;
      font-size: 0.65em;
      color: white;
      list-style-type: none; }

.wrap {
  position: relative; }

.info {
  padding-top: 60px; }
  .info .container {
    background-color: white !important; }
    .info .container .info-main {
      padding: 60px;
      margin: 30px 0px;
      font-size: 0.7em;
      color: #FF9640; }
      .info .container .info-main .formular {
        font-size: 1.5em; }
      .info .container .info-main p {
        color: #4671D5; }
        .info .container .info-main p span {
          color: #FF9640;
          font-size: 1.1em; }
      .info .container .info-main .first {
        margin: 30px 0; }
      .info .container .info-main h3 {
        text-align: center;
        font-size: 1.5em; }

/*# sourceMappingURL=style.css.map */