/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    min-height: 100px; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  body {
    min-height: 100px; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    min-height: 100px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    min-height: 100px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  body {
    min-height: 100px; } }

span {
  color: #2636A9; }

a:active {
  text-decoration: none; }

body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background-image: url(../img/bg.jpg);
  font-size: 19px; }

.nav-space {
  height: 40px;
  background-image: url("../img/arn7.png");
  background-size: auto 100%; }

.space {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 40px;
  background-image: url("../img/arn7.png");
  background-size: auto 100%; }

.spacer {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 40px;
  background-image: url("../img/arn7r.png");
  background-size: auto 100%; }

.spaceg {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 40px;
  background-image: url("../img/arn7g.png");
  background-size: auto 100%; }

.b {
  margin-bottom: 5px !important; }

.t {
  margin-top: 5px !important; }

#header {
  color: white;
  background-image: url(../img/bg-header1.jpg);
  background-size: cover; }
  #header .header-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #header .header-header h1 {
      color: white;
      padding-top: 20px;
      padding-bottom: 20px;
      border-top: 3px solid #384CFF;
      border-bottom: 3px solid #384CFF;
      font-weight: 700;
      margin-bottom: 50px;
      font-size: 3em;
      display: block; }
      #header .header-header h1 span {
        padding-left: 5px;
        display: inline-block;
        margin: 5px;
        border-left: 3px solid #384CFF;
        border-bottom: 3px solid #384CFF;
        color: #384CFF; }
  #header .header-logo {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #header .header-logo img {
      width: 100%; }
  #header .header-nav {
    height: 80px;
    background-color: #292929;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #header .header-nav span {
      color: #384CFF; }
    #header .header-nav a {
      padding-top: 20px;
      color: white;
      display: block; }
      #header .header-nav a:hover {
        text-decoration: none;
        color: #384CFF; }

#year {
  margin-bottom: 10vw;
  margin-top: 20px; }
  #year .year {
    height: 60vh; }
    #year .year-info {
      height: 100%;
      height: 75%; }
      #year .year-info-fact {
        padding-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        text-align: center; }
        #year .year-info-fact-inner {
          border-top: solid #707AAB 6px;
          padding: 20px;
          font-size: 1.9vw; }
          #year .year-info-fact-inner:nth-child(2) {
            border-bottom: solid #707AAB 6px; }
      #year .year-info .col-4 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      #year .year-info img {
        padding-bottom: 30%;
        display: block;
        width: 80%; }
    #year .year-front {
      position: absolute;
      top: 0;
      left: 2vw;
      min-height: 80%;
      width: 45vw; }
      #year .year-front h2 {
        padding: 0px 0 10px 0;
        width: 100%;
        text-align: center;
        font-size: 2.5em; }
    #year .year-back {
      height: 22vw; }
      #year .year-back img {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 30px;
        width: 45vw; }

#away {
  height: 27vw;
  margin-bottom: 12vw; }
  #away .away-info {
    padding: 20px 15vw;
    z-index: 200;
    position: absolute;
    top: 28vw;
    left: 0;
    border-radius: 5px;
    width: 200%; }
    #away .away-info h2 {
      border-top: 4px solid #707AAB;
      border-bottom: 4px solid #707AAB;
      text-align: center;
      width: 100%;
      font-size: 2em;
      color: #413F3C; }
  #away .away-front {
    z-index: 100;
    position: absolute;
    top: 0;
    right: -3vw;
    border-radius: 30px;
    background-color: #fff;
    min-height: 80%;
    width: 45vw; }
    #away .away-front img {
      border-radius: 10px;
      z-index: 100;
      width: 100%; }
  #away .away-back img {
    top: 0;
    left: 3vw;
    position: absolute;
    border-radius: 30px;
    width: 42vw; }

#why {
  height: 63vw;
  position: relative;
  padding-top: 8vw;
  margin-top: 30px; }
  #why .why .row {
    position: relative; }
  #why .why h2 {
    border-top: 4px solid #707AAB;
    border-bottom: 4px solid #707AAB;
    display: block;
    font-size: 2.5em;
    width: 100%;
    left: 0;
    text-align: center;
    top: -6vw;
    position: absolute; }
  #why .why-img1 {
    height: 28vw;
    width: 46vw;
    left: 5vw;
    position: absolute; }
  #why .why-img2 {
    height: 28vw;
    width: 43vw;
    right: 5vw;
    position: absolute; }
  #why .why-img3 {
    width: 45vw;
    top: 34vw;
    left: 5vw;
    position: absolute; }
  #why .why-img4 {
    width: 45vw;
    top: 34vw;
    right: 5vw;
    position: absolute; }
  #why .why-info {
    border-radius: 10px;
    text-align: center;
    padding: 2vw;
    font-size: 1.5em;
    background-color: #fff;
    z-index: 500;
    width: 40vw;
    top: 25vw;
    left: 30vw;
    position: absolute; }

#oku {
  margin-bottom: 10vw;
  margin-top: 20px; }
  #oku .oku-front {
    font-size: 1.2em;
    padding: 20px;
    position: absolute;
    bottom: 21vw;
    right: -13vw;
    border-radius: 30px;
    background-color: #fff;
    width: 150%; }
  #oku .oku-front2 {
    font-size: 1.3em;
    z-index: 500;
    position: absolute;
    top: 28vw;
    right: -25vw;
    border-radius: 30px;
    background-color: #fff;
    padding: 30px;
    width: 40vw; }
    #oku .oku-front2 .cl {
      font-size: 1em; }
    #oku .oku-front2 span {
      color: #0AA482;
      font-size: 1.4em; }
  #oku .oku-back {
    height: 45vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #oku .oku-back img {
      margin-top: 3vw;
      border-radius: 30px;
      width: 100%; }

#fix {
  height: 34vw;
  margin-bottom: 50px; }
  #fix .container {
    height: 100%; }
    #fix .container .row {
      height: 100%; }
      #fix .container .row .col-4 {
        height: 100%; }
  #fix .fix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #fix .fix-front {
      padding-left: 10px;
      text-align: left;
      border-left: solid 5px #707AAB;
      margin-left: 10vw;
      padding: 20px 20px 20px 13px;
      font-size: 1.2em;
      width: 30vw; }
    #fix .fix-back img {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 5px;
      width: 55vw; }

#lost {
  height: 35vw;
  margin-top: 100px; }
  #lost .lost-back img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; }
  #lost .lost-front {
    padding-right: 13px;
    text-align: right;
    font-size: 1.2em;
    padding: 10px;
    z-index: 500;
    position: absolute;
    border-right: solid 7px #707AAB;
    right: 0;
    top: 8vw;
    width: 120%; }

#cisac1 .cisac1-costinf {
  padding-top: 1.5vw;
  text-align: right;
  font-size: 2em; }
  #cisac1 .cisac1-costinf span {
    color: #FA5067; }

#cisac1 .cisac1-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  #cisac1 .cisac1-cost h3 {
    color: #FA5067;
    font-weight: 700;
    font-size: 5em; }
  #cisac1 .cisac1-cost p {
    margin-top: -30px;
    color: #FA5067;
    font-size: 2em; }

#cisac1 .cisac1-info {
  border-top: 3px solid #FA5067;
  border-bottom: 3px solid #FA5067;
  text-align: center;
  font-size: 2vw;
  padding: 15px;
  margin: 25px 0; }

#cisac1 .cisac1-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #cisac1 .cisac1-text p {
    font-size: 2.15vw; }
    #cisac1 .cisac1-text p span {
      font-weight: 700;
      color: #FA5067; }

#cisac1 .cisac1-img img {
  border-radius: 10px;
  width: 100%; }

.m {
  font-size: 1.9em !important; }

#cisac2 .cisac2 {
  padding-bottom: 20px;
  border-bottom: 4px solid #FA5067; }
  #cisac2 .cisac2-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #cisac2 .cisac2-info h4 {
      margin-bottom: 20px;
      font-weight: 700;
      color: #FA5067;
      text-align: center;
      display: block;
      font-size: 3em; }
    #cisac2 .cisac2-info p {
      display: block;
      text-align: center;
      font-size: 1.49em; }
  #cisac2 .cisac2-img img {
    margin-top: -30px;
    margin-left: -20px;
    width: 100%; }
  #cisac2 .cisac2-header {
    margin-bottom: 50px;
    text-align: center;
    font-size: 2em;
    padding: 10px 60px;
    border-top: solid #FA5067 4px;
    border-bottom: solid #FA5067 4px; }
    #cisac2 .cisac2-header span {
      display: inline;
      font-weight: 700;
      margin: 0 7px;
      color: #FA5067; }

#cisac3 {
  margin-top: 40px; }
  #cisac3 .cisac3-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #cisac3 .cisac3-img img {
      display: block;
      width: 105%; }
  #cisac3 .cisac3-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #cisac3 .cisac3-info h5 {
      font-size: 1.45em; }
      #cisac3 .cisac3-info h5 span {
        font-weight: 700;
        color: #FA5067; }

#dss {
  padding: 50px 0; }
  #dss .dss-info {
    padding: 10px;
    font-size: 1.4em; }
    #dss .dss-info span {
      font-weight: 700;
      color: #39DB30; }
  #dss .dss-header h2 {
    padding: 20px 0;
    border-top: 3px solid #00fc2a;
    border-bottom: 3px solid #00fc2a;
    font-weight: 700;
    font-size: 3em; }
    #dss .dss-header h2 span {
      padding-left: 5px;
      display: inline-block;
      margin: 5px;
      border-left: 3px solid #00fc2a;
      border-bottom: 3px solid #00fc2a;
      color: #39DB30; }

#dss2 {
  position: relative;
  height: 43vw; }
  #dss2 h2 {
    border-top: 3px solid #00fc2a;
    border-bottom: 3px solid #00fc2a;
    border-radius: 10px;
    z-index: 500;
    text-align: center;
    padding: 10px;
    width: 60vw;
    top: 0vw;
    right: 20vw;
    position: absolute; }
    #dss2 h2 span {
      color: #39DB30; }
  #dss2 img {
    position: absolute;
    top: 13vw;
    right: 20vw;
    width: 60vw;
    height: 30vw; }

#dss3 {
  padding-top: 60px; }
  #dss3 .dss3-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #dss3 .dss3-img div {
      height: 30vw;
      width: 20vw;
      background-color: #f6f2f0; }
  #dss3 .dss3-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #dss3 .dss3-info p {
      padding-left: 20px;
      border-left: 6px #00fc2a solid;
      font-size: 2.4em; }
      #dss3 .dss3-info p span {
        color: #39DB30; }

#dssinfo .dssinfo {
  margin-top: 60px; }
  #dssinfo .dssinfo-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em; }
    #dssinfo .dssinfo-text p {
      border-left: 4px #00fc2a solid; }
    #dssinfo .dssinfo-text span {
      font-weight: 700;
      color: #39DB30; }
  #dssinfo .dssinfo-img img {
    width: 100%; }
  #dssinfo .dssinfo-img2 img {
    width: 100%; }
  #dssinfo .dssinfo-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em; }
    #dssinfo .dssinfo-main p {
      border-left: 4px #00fc2a solid; }
    #dssinfo .dssinfo-main span {
      font-weight: 700;
      color: #39DB30; }
