@import "media","mixins"

span
    color: $blue3
a:active
    text-decoration: none
body
    font-family: 'Rubik', sans-serif
    font-weight: 500
    background-image: url(../img/bg3.jpg)
    font-size: 19px
.nav-space
    height: 40px
    background-image: url( "../img/arn"+$arnament+".png")
    background-size: auto 100%
.space
    margin-top: 40px
    margin-bottom: 40px
    height: 40px
    background-image: url( "../img/arn"+$arnament+".png")
    background-size: auto 100%
.spacer
    margin-top: 40px
    margin-bottom: 40px
    height: 40px
    background-image: url( "../img/arn"+$arnament+"r.png")
    background-size: auto 100%
.spaceg
    margin-top: 40px
    margin-bottom: 40px
    height: 40px
    background-image: url( "../img/arn"+$arnament+"g.png")
    background-size: auto 100%
.b
    margin-bottom: 5px !important
.t
    margin-top: 5px !important
#header
    .header
        &-header
            h1
                padding-top: 20px
                padding-bottom: 20px
                border-top: 3px solid $blue
                border-bottom: 3px solid $blue
                span
                    padding-left: 5px
                    display: inline-block
                    margin: 5px
                    border-left: 3px solid $blue
                    border-bottom: 3px solid $blue
                    color: $mainblue
                font-weight: 700
                margin-bottom: 50px
                font-size: 3em
                color: $mainblack
                display: block
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        &-logo
            img
                width: 100%
            height: 90vh
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        &-nav
            span
                color: $blue
            a
                &:hover
                    text-decoration: none
                    color: $blue
                padding-top: 20px
                color: white
                display: block
            height: 80px
            background-color: $mainblack
            display: flex
            flex-direction: row
            justify-content: space-around
#year
    margin-bottom: 10vw
    margin-top: 20px
    .year
        height: 60vh
        &-info
            &-fact
                &-inner
                    &:nth-child(2)
                        border-bottom: solid $blue2 6px
                    border-top: solid $blue2 6px
                    padding: 20px
                    font-size: 1.9vw
                padding-bottom: 20px
                display: flex
                flex-direction: column
                justify-content: space-around
                text-align: center
            height: 100%
            .col-4
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
            height: 75%
            img
                padding-bottom: 30%
                display: block
                width: 80%
        &-front
            h2
                padding: 0px 0 10px 0
                width: 100%
                text-align: center
                font-size: 2.5em
            position: absolute
            top: 0
            left: 2vw
            min-height: 80%
            width: 45vw
        &-back
            height: 22vw
            img
                position: absolute
                top: 0
                right: 0
                border-radius: 30px
                width: 45vw
#away
    height: 27vw
    margin-bottom: 12vw
    .away
        &-info
            h2
                border-top: 4px solid $blue2
                border-bottom: 4px solid $blue2
                text-align: center
                width: 100%
                font-size: 2em
                color: $mainblack
            padding: 20px 15vw
            z-index: 200
            position: absolute
            top: 28vw
            left: 0
            border-radius: 5px
            width: 200%
        &-front
            z-index: 100
            img
                border-radius: 10px
                z-index: 100
                width: 100%
            position: absolute
            top: 0
            right: -3vw
            border-radius: 30px
            background-color: #fff
            min-height: 80%
            width: 45vw
        &-back
            img
                top: 0
                left: 3vw
                position: absolute
                border-radius: 30px
                width: 42vw
#why
    height: 63vw
    position: relative
    padding-top: 8vw
    margin-top: 30px
    .why
        .row
            position: relative
        h2
            border-top: 4px solid $blue2
            border-bottom: 4px solid $blue2
            display: block
            font-size: 2.5em
            width: 100%
            left: 0
            text-align: center
            top: -6vw
            position: absolute
        &-img1
            height: 28vw
            width: 46vw
            left: 5vw
            position: absolute
            
        &-img2
            height: 28vw
            width: 43vw
            right: 5vw
            position: absolute
        &-img3
            width: 45vw
            top: 34vw
            left: 5vw
            position: absolute
        &-img4
            width: 45vw
            top: 34vw
            right: 5vw
            position: absolute
        &-info
            border-radius: 10px
            text-align: center
            padding: 2vw
            font-size: 1.5em
            background-color: #fff
            z-index: 500
            width: 40vw
            top: 25vw
            left: 30vw
            position: absolute

#oku
    margin-bottom: 10vw
    margin-top: 20px
    .oku
        &-front
            font-size: 1.2em
            padding: 20px
            position: absolute
            bottom: 21vw
            right: -13vw
            border-radius: 30px
            background-color: #fff
            
            width: 150%
        &-front2
            .cl
                font-size: 1em
            span
                color: $maingreen
                font-size: 1.4em
            font-size: 1.3em
            z-index: 500
            position: absolute
            top: 28vw
            right: -25vw
            border-radius: 30px
            background-color: #fff
            padding: 30px
            width: 40vw
        &-back
            height: 45vw
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            img
                margin-top: 3vw
                border-radius: 30px
                width: 100%
#fix
    .container
        height: 100%
        .row
            height: 100%
            .col-4
                height: 100%
    height: 34vw
    margin-bottom: 50px
    .fix
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        &-front
            padding-left: 10px
            text-align: left
            border-left: solid 5px $blue2
            margin-left:  10vw
            padding: 20px 20px 20px 13px
            font-size: 1.2em
            width: 30vw
        &-back
            img
                position: absolute
                top: 0
                right: 0
                border-radius: 5px
                width: 55vw
#lost
    height: 35vw
    .lost
        &-back
            img
                position: absolute
                width: 100%
                top: 0
                left: 0
        &-front
            padding-right: 13px
            text-align: right
            font-size: 1.2em
            padding: 10px
            z-index: 500
            position: absolute
            border-right: solid 7px $blue2
            right: 0
            top: 8vw
            width: 120%
            border-radius: 15px
    margin-top: 100px
#cisac1
    .cisac1
        &-costinf
            padding-top: 1.5vw
            text-align: right
            span
                color: $red
            font-size: 2em
        &-cost
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: flex-start
            h3
                color: $red
                font-weight: 700
                font-size: 5em
            p
                margin-top: -30px
                color: $red
                font-size: 2em
        &-costinf
            
        &-info
            border-top: 3px solid $red
            border-bottom: 3px solid $red
            text-align: center
            font-size: 2vw
            padding: 15px
            margin: 25px 0
        &-text
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            p
                font-size: 2.15vw
                span
                    font-weight: 700
                    color: $red
        &-img
            img
                border-radius: 10px
                width: 100%
.m
    font-size: 1.9em !important
#cisac2
    .cisac2
        padding-bottom: 20px
        border-bottom: 4px solid $red
        &-info
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: center
            h4
                margin-bottom: 20px
                font-weight: 700
                color: $red
                text-align: center
                display: block
                font-size: 3em
            p
                display: block
                text-align: center
                font-size: 1.49em
        &-img
            img
                margin-top: -30px
                margin-left: -20px
                width: 100%
        &-header
            margin-bottom: 50px
            text-align: center
            font-size: 2em
            padding: 10px 60px
            border-top: solid $red 4px
            border-bottom: solid $red 4px
            span
                display: inline
                font-weight: 700
                margin: 0 7px
                color: $red
#cisac3
    margin-top: 40px
    .cisac3
        &-img
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            img
                display: block
                width: 105%
        &-info
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            h5
                font-size: 1.45em
                span
                    font-weight: 700
                    color: $red
#dss
    padding: 50px 0
    .dss
        &-info
            span
                font-weight: 700
                color: $green
            padding: 10px
            font-size: 1.4em
        &-header
            h2
                padding: 20px 0
                border-top: 3px solid $green2
                border-bottom: 3px solid $green2
                font-weight: 700
                font-size: 3em
                span
                    padding-left: 5px
                    display: inline-block
                    margin: 5px
                    border-left: 3px solid $green2
                    border-bottom: 3px solid $green2
                    color: $green
#dss2
    position: relative
    height: 43vw
    h2
        span
            color: $green
        border-top: 3px solid $green2
        border-bottom: 3px solid $green2
        border-radius: 10px
        z-index: 500
        text-align: center
        padding: 10px
        width: 60vw
        top: 0vw
        right: 20vw
        position: absolute
    img
        position: absolute
        top: 13vw
        right: 20vw
        width: 60vw
        height: 30vw
#dss3
    padding-top: 60px
    .dss3
        &-img
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            div
                height: 30vw
                width: 20vw
                background-color: $maingrey
        &-info
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            p
                span
                    color: $green
                padding-left: 20px
                border-left: 6px $green2 solid
                font-size: 2.4em
#dssinfo
    .dssinfo
        margin-top: 60px
        &-text
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            p
                border-left: 4px $green2 solid
            font-size: 1.4em
            span
                font-weight: 700
                color: $green
        &-img
            img
                width: 100%
        &-img2
            img
                width: 100%
        &-main
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            p
                border-left: 4px $green2 solid
            font-size: 1.4em
            span
                font-weight: 700
                color: $green