@import "mixins"

#menu
    .ul
        display: none
        background-color: $mainblack
        position: fixed
        z-index: 900
        border-radius: 15px
        left: 30px
        top: 30px
        a
            margin: 0 5%
            padding: 2px
            width: 90%
            text-align: center
            opacity: 0.8
            background-color: $mainblack
            &:hover
                text-decoration: none
            text-decoration: none
            font-size: 1em
            display: block
            color: white
            &:nth-child(1)
                border: none
            border-top: 3px solid white
    img
        border-radius: 15px
        z-index: 900
        cursor: pointer
        position: fixed
        width: 50px
        height: 50px
        top: 30px
        left: 30px

.up
    color: white
    font-size: 25px
    display: none
    height: 50px
    width: 50px
    background-color: $blue4
    position: fixed
    border-radius: 5px
    z-index: 999
    bottom: 10px
    right: 10px
    img
        position: absolute
        top: 5px
        right: 5px
        width: 40px
        height: 40px


strong
    font-weight: 500
    color: $blue3
    display: inline
span
    color: $blue3
a:active
    text-decoration: none
body
    position: relative
    overflow-x: hidden 
    font-family: 'Rubik', sans-serif
    font-weight: 500
    background-image: url(../img/bg3.jpg)
.space
    margin-top: 40px
    margin-bottom: 40px
    height: 4px
.spacer
    margin-top: 40px
    margin-bottom: 40px
    height: 4px
.spaceg
    margin-top: 40px
    margin-bottom: 40px
    height: 4px
.b
    margin-bottom: 5px !important
.t
    margin-top: 5px !important
#header
    padding-top: 10vh
    height: 100vh
    color: white
    background-image: url(../img/bg-header1.jpg)
    background-size: cover
    background-position: center center
    .header
        &-header
            h1
                color: white
                padding-top: 20px
                padding-bottom: 20px
                border-top: 3px solid $blue4
                border-bottom: 3px solid $blue4
                span
                    padding-left: 5px
                    display: inline-block
                    margin: 5px 0 5px 5px
                    border-left: 2px solid $blue4
                    border-bottom: 2px solid $blue4
                    color: $blue4
                font-weight: 700
                margin-bottom: 50px
                font-size: 3em
                display: block
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        &-logo
            img
                width: 100%
            height: 90vh
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
#year
    margin-top: 20px
    .year
        &-info
            font-size: 1.1em
            border-top: solid 3px $blue4
            border-bottom: solid 3px $blue4
            margin: 10px 0
            padding: 10px
            &-header
                h2
                    margin: 20px 0
                    width: 100%
                width: 100%
                text-align: center
                font-size: 2em
            &-img
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                img
                    display: block
                    width: 100%
        &-back
            padding-bottom: 10px
            img
                width: 100%
                border-radius: 10px
#away
    .away
        &-h
            h2
                margin: 10px 0
                border-bottom: solid 3px $blue4
                border-top: solid 3px $blue4
                width: 100%
                text-align: center
                font-size: 1.7em
                padding: 5px 20%
        &-img
            img
                margin-top: 10px
                border-radius: 10px
                width: 100%
#why
    .why
        &-abs
            margin-top: 5vw !important
            background-color: transparent
            padding: 10px 0
            margin: 10px 0
            border-bottom: solid 3px $blue4
            border-top: solid 3px $blue4
            font-size: 1.2em
        &-h
            h2
                
                padding: 10px 0
                margin: 10px 0
                border-bottom: solid 3px $blue4
                border-top: solid 3px $blue4
                width: 100%
                text-align: center
                font-size: 1.9em
                padding: 5px 10%
        &-img1
            img
                position: absolute
                top: 0
                width: 45vw
                right: 0
            height: 25vw
            padding: 0 !important
        &-img2
            img
                position: absolute
                top: 0
                width: 45vw
                left: 0
            height: 25vw
            padding: 0 !important
            
#map
    .map
        &-img
            img
                width: 100%
        &-info
            p
                border-left: solid $blue4 3px
                padding-left: 10px
                font-size: 1.3em
#fix
    .r
        p
            border-left: solid $blue4 3px
            padding-left: 10px
    .l
        p
            border-right: solid $blue4 3px
            padding-right: 10px
    .fix
        &-info
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            p
                margin: 10px 0
                font-size: 1.2em
        &-img
            img
                border-radius: 10px
                width: 100%

#cisac1
    .cisac1
        &-costinf
            padding-top: 1.5vw
            text-align: center
            span
                color: $red
            font-size: 1.7em
        &-cost
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            h3
                text-align: center
                color: $red
                font-weight: 700
                font-size: 4em
            p
                text-align: center
                color: $red
                font-size: 1.5em
        &-costinf
            
        &-info
            border-top: 3px solid $red
            border-bottom: 3px solid $red
            text-align: center
            font-size: 1.5em    
            padding: 15px
            margin: 25px 0
        &-text
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            p
                margin-top: 10px
                padding-left: 10px
                border-left: $red solid 3px
                font-size: 1.2em
                text-align: center
                span
                    font-weight: 700
                    color: $red
        &-img
            img
                border-radius: 10px
                width: 100%
.m
    font-size: 1.9em !important
#cisac2
    .cisac2
        padding-bottom: 20px
        border-bottom: 4px solid $red
        &-info
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: center
            h4
                margin-bottom: 20px
                font-weight: 700
                color: $red
                text-align: center
                display: block
                font-size: 3em
            p
                display: block
                text-align: center
                font-size: 1.49em
        &-img
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            img
                height: 40vh
        &-header
            margin-bottom: 50px
            text-align: center
            font-size: 1.7em
            padding: 10px 3%
            border-top: solid $red 4px
            border-bottom: solid $red 4px
            span
                display: inline
                font-weight: 700
                margin: 0 7px
                color: $red
#cisac3
    margin-top: 5vw
    .cisac3
        &-img
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            img
                display: block
                height: 30vh
                
        &-info
            padding-top: 20px
            text-align: center
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            h5
                border-left: solid 3px $red
                padding-left: 10px
                font-size: 1.45em
                span
                    font-weight: 700
                    color: $red
#dss
    padding: 6vw 0
    .dss
        &-info
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            span
                font-weight: 700
                color: $green
            padding: 10px
            font-size: 1.4em
        &-header
            text-align: center
            h2
                padding: 20px 0
                border-top: 3px solid $green2
                border-bottom: 3px solid $green2
                font-weight: 700
                font-size: 3em
                span
                    padding-left: 5px
                    display: inline-block
                    margin: 5px
                    border-left: 3px solid $green2
                    border-bottom: 3px solid $green2
                    color: $green
#dss2
    h2
        margin-bottom: 50px
        font-size: 1.7em
        span
            color: $green
        border-top: 3px solid $green2
        border-bottom: 3px solid $green2
        text-align: center
    .dss2-img
        overflow: hidden
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        img
            height: 40vh
#dss3
    padding-top: 60px
    .dss3
        &-img
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            img
                border-radius: 30px
                height: 43vh
                width: 51vh
                background-color: $maingrey
        &-info
            margin: 30px 0
            text-align: center
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            p
                span
                    color: $green
                padding-left: 20px
                border-left: 6px $green2 solid
                font-size: 1.5em
#dssinfo
    .dssinfo
        margin-top: 60px
        &-text
            margin-bottom: 30px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            p
                border-left: 4px $green2 solid
            font-size: 1.2em
            span
                font-weight: 700
                color: $green
        &-img
            img
                width: 100%
        &-img2
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
            img
                width: 30vh
        &-main
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            p
                border-left: 4px $green2 solid
            font-size: 1.4em
            span
                font-weight: 700
                color: $green
@import "media"