.up {
  color: white;
  font-size: 25px;
  display: none;
  height: 50px;
  width: 50px;
  background-color: #384CFF;
  position: fixed;
  border-radius: 5px;
  z-index: 999;
  bottom: 10px;
  right: 10px; }
  .up img {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px; }

.relativ {
  z-index: 900;
  background-color: #413F3C; }

.navigation {
  z-index: 900;
  position: fixed;
  width: 100vw; }
  .navigation-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 0;
    height: 100%;
    border-bottom: white solid 1px;
    z-index: 900;
    font-size: 0.8em;
    text-align: center;
    display: block;
    width: 100%;
    color: white;
    text-decoration: none !important;
    hover-color: #707AAB; }
    .navigation-a span {
      color: #3C4CAF; }

strong {
  font-weight: 500;
  color: #2636A9;
  display: inline; }

span {
  color: #2636A9; }

a:active {
  text-decoration: none; }

body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background-image: url(../img/bg3.jpg); }

.space {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 40px;
  background-image: url("../img/arn7.png");
  background-size: auto 100%; }

.spacer {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 40px;
  background-image: url("../img/arn7r.png");
  background-size: auto 100%; }

.spaceg {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 40px;
  background-image: url("../img/arn7g.png");
  background-size: auto 100%; }

.b {
  margin-bottom: 5px !important; }

.t {
  margin-top: 5px !important; }

#header {
  padding-top: 10vh;
  height: 100vh;
  color: white;
  background-image: url(../img/bg-header1.jpg);
  background-size: cover; }
  #header .header-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #header .header-header h1 {
      color: white;
      padding-top: 20px;
      padding-bottom: 20px;
      border-top: 3px solid #384CFF;
      border-bottom: 3px solid #384CFF;
      font-weight: 700;
      margin-bottom: 50px;
      font-size: 3em;
      display: block; }
      #header .header-header h1 span {
        padding-left: 5px;
        display: inline-block;
        margin: 5px 0 5px 5px;
        border-left: 2px solid #384CFF;
        border-bottom: 2px solid #384CFF;
        color: #384CFF; }
  #header .header-logo {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #header .header-logo img {
      width: 100%; }

#year {
  margin-top: 20px; }
  #year .year-info {
    font-size: 1.1em;
    border-top: solid 3px #384CFF;
    border-bottom: solid 3px #384CFF;
    margin: 10px 0;
    padding: 10px; }
    #year .year-info-header {
      width: 100%;
      text-align: center;
      font-size: 2em; }
      #year .year-info-header h2 {
        margin: 20px 0;
        width: 100%; }
    #year .year-info-img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #year .year-info-img img {
        display: block;
        width: 100%; }
  #year .year-back {
    padding-bottom: 10px; }
    #year .year-back img {
      width: 100%;
      border-radius: 10px; }

#away .away-h h2 {
  margin: 10px 0;
  border-bottom: solid 3px #384CFF;
  border-top: solid 3px #384CFF;
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  padding: 5px 20%; }

#away .away-img img {
  margin-top: 10px;
  border-radius: 10px;
  width: 100%; }

#why .why-abs {
  margin-top: 5vw !important;
  background-color: transparent;
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: solid 3px #384CFF;
  border-top: solid 3px #384CFF;
  font-size: 1.2em; }

#why .why-h h2 {
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: solid 3px #384CFF;
  border-top: solid 3px #384CFF;
  width: 100%;
  text-align: center;
  font-size: 1.9em;
  padding: 5px 10%; }

#why .why-img1 {
  height: 25vw;
  padding: 0 !important; }
  #why .why-img1 img {
    position: absolute;
    top: 0;
    width: 45vw;
    right: 0; }

#why .why-img2 {
  height: 25vw;
  padding: 0 !important; }
  #why .why-img2 img {
    position: absolute;
    top: 0;
    width: 45vw;
    left: 0; }

#map .map-img img {
  width: 100%; }

#map .map-info p {
  border-left: solid #384CFF 3px;
  padding-left: 10px;
  font-size: 1.3em; }

#fix .r p {
  border-left: solid #384CFF 3px;
  padding-left: 10px; }

#fix .l p {
  border-right: solid #384CFF 3px;
  padding-right: 10px; }

#fix .fix-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #fix .fix-info p {
    margin: 10px 0;
    font-size: 1.2em; }

#fix .fix-img img {
  border-radius: 10px;
  width: 100%; }

#cisac1 .cisac1-costinf {
  padding-top: 1.5vw;
  text-align: center;
  font-size: 1.7em; }
  #cisac1 .cisac1-costinf span {
    color: #FA2844; }

#cisac1 .cisac1-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #cisac1 .cisac1-cost h3 {
    text-align: center;
    color: #FA2844;
    font-weight: 700;
    font-size: 4em; }
  #cisac1 .cisac1-cost p {
    text-align: center;
    color: #FA2844;
    font-size: 1.5em; }

#cisac1 .cisac1-info {
  border-top: 3px solid #FA2844;
  border-bottom: 3px solid #FA2844;
  text-align: center;
  font-size: 1.5em;
  padding: 15px;
  margin: 25px 0; }

#cisac1 .cisac1-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #cisac1 .cisac1-text p {
    margin-top: 10px;
    padding-left: 10px;
    border-left: #FA2844 solid 3px;
    font-size: 1.2em;
    text-align: center; }
    #cisac1 .cisac1-text p span {
      font-weight: 700;
      color: #FA2844; }

#cisac1 .cisac1-img img {
  border-radius: 10px;
  width: 100%; }

.m {
  font-size: 1.9em !important; }

#cisac2 .cisac2 {
  padding-bottom: 20px;
  border-bottom: 4px solid #FA2844; }
  #cisac2 .cisac2-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #cisac2 .cisac2-info h4 {
      margin-bottom: 20px;
      font-weight: 700;
      color: #FA2844;
      text-align: center;
      display: block;
      font-size: 3em; }
    #cisac2 .cisac2-info p {
      display: block;
      text-align: center;
      font-size: 1.49em; }
  #cisac2 .cisac2-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #cisac2 .cisac2-img img {
      height: 40vh; }
  #cisac2 .cisac2-header {
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.7em;
    padding: 10px 3%;
    border-top: solid #FA2844 4px;
    border-bottom: solid #FA2844 4px; }
    #cisac2 .cisac2-header span {
      display: inline;
      font-weight: 700;
      margin: 0 7px;
      color: #FA2844; }

#cisac3 {
  margin-top: 5vw; }
  #cisac3 .cisac3-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #cisac3 .cisac3-img img {
      display: block;
      height: 30vh; }
  #cisac3 .cisac3-info {
    padding-top: 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #cisac3 .cisac3-info h5 {
      border-left: solid 3px #FA2844;
      padding-left: 10px;
      font-size: 1.45em; }
      #cisac3 .cisac3-info h5 span {
        font-weight: 700;
        color: #FA2844; }

#dss {
  padding: 6vw 0; }
  #dss .dss-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 1.4em; }
    #dss .dss-info span {
      font-weight: 700;
      color: #219E21; }
  #dss .dss-header {
    text-align: center; }
    #dss .dss-header h2 {
      padding: 20px 0;
      border-top: 3px solid #00fc2a;
      border-bottom: 3px solid #00fc2a;
      font-weight: 700;
      font-size: 3em; }
      #dss .dss-header h2 span {
        padding-left: 5px;
        display: inline-block;
        margin: 5px;
        border-left: 3px solid #00fc2a;
        border-bottom: 3px solid #00fc2a;
        color: #219E21; }

#dss2 h2 {
  margin-bottom: 50px;
  font-size: 1.7em;
  border-top: 3px solid #00fc2a;
  border-bottom: 3px solid #00fc2a;
  text-align: center; }
  #dss2 h2 span {
    color: #219E21; }

#dss2 .dss2-img {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #dss2 .dss2-img img {
    height: 40vh; }

#dss3 {
  padding-top: 60px; }
  #dss3 .dss3-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #dss3 .dss3-img div {
      height: 51vh;
      width: 38vh;
      background-color: #f6f2f0; }
  #dss3 .dss3-info {
    margin: 30px 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #dss3 .dss3-info p {
      padding-left: 20px;
      border-left: 6px #00fc2a solid;
      font-size: 1.5em; }
      #dss3 .dss3-info p span {
        color: #219E21; }

#dssinfo .dssinfo {
  margin-top: 60px; }
  #dssinfo .dssinfo-text {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em; }
    #dssinfo .dssinfo-text p {
      border-left: 4px #00fc2a solid; }
    #dssinfo .dssinfo-text span {
      font-weight: 700;
      color: #219E21; }
  #dssinfo .dssinfo-img img {
    width: 100%; }
  #dssinfo .dssinfo-img2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #dssinfo .dssinfo-img2 img {
      width: 30vh; }
  #dssinfo .dssinfo-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em; }
    #dssinfo .dssinfo-main p {
      border-left: 4px #00fc2a solid; }
    #dssinfo .dssinfo-main span {
      font-weight: 700;
      color: #219E21; }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 15px; }
  .header-header {
    font-size: 9px;
    margin-top: 15vh; }
  .header-logo {
    height: 30vh !important; }
    .header-logo img {
      width: 60vw !important; }
  .dss-header {
    margin-top: 50px;
    margin-bottom: 30px; }
  .dssinfo-main p {
    margin-top: 10px;
    font-size: 0.7em !important; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  body {
    font-size: 15px; }
  .header-header {
    margin-top: 15vh; }
  .header-logo {
    height: 30vh !important; }
    .header-logo img {
      width: 50vw !important; }
  .dss-header {
    margin-top: 50px;
    margin-bottom: 30px; }
  .dssinfo-text p {
    margin-top: 10px;
    font-size: 0.7em !important; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .revers {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }
  body {
    font-size: 10px; }
  .year-info-fact-inner {
    padding: 5px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .revers {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }
  body {
    font-size: 18px; }
  .year-info-fact-inner {
    padding: 10px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .revers {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }
  body {
    font-size: 19px; }
  .year-info-fact-inner {
    padding: 20px; } }
