/*==========  Mobile First  ========== */
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/* line 3, style.sass */
body {
  font-size: 20px; }

/* line 6, style.sass */
body:not(#header) {
  z-index: 100; }

/* line 8, style.sass */
#header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: center top;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh; }
  /* line 12, style.sass */
  #header-before {
    height: 100vh; }

/* line 20, style.sass */
.header-flex {
  margin: 5vh 0 11vh 0;
  color: #fff; }
  /* line 23, style.sass */
  .header-flex .header {
    font-size: 2.3em; }
/* line 25, style.sass */
.header-rel {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 31, style.sass */
#slider {
  position: relative;
  padding: 40px 0;
  background-color: #fff; }
  /* line 32, style.sass */
  #slider h4 {
    font-size: 2em;
    margin-bottom: 30px; }
  /* line 36, style.sass */
  #slider .slider-mockup {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    /* line 43, style.sass */
    #slider .slider-mockup-abs {
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: -3vw;
      right: 0;
      left: 0;
      bottom: 0; }
      /* line 45, style.sass */
      #slider .slider-mockup-abs img {
        display: block;
        width: 5vw;
        display: block;
        position: relative; }
    /* line 59, style.sass */
    #slider .slider-mockup .img-mac {
      display: block;
      width: 30vw; }

/* line 65, style.sass */
#main {
  background-color: #fff;
  position: relative; }
  /* line 69, style.sass */
  #main .main-col {
    height: 328px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 15px;
    border-left: #fff 15px solid;
    border-right: #fff 15px solid;
    border-top: #fff 50px solid;
    border-bottom: #fff 50px solid;
    color: #fff; }
    /* line 72, style.sass */
    #main .main-col h5 {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      margin: auto;
      font-size: 1.5em;
      text-align: center; }
    /* line 78, style.sass */
    #main .main-col:nth-child(1) {
      background-image: url(../img/main-col1.jpg); }
    /* line 80, style.sass */
    #main .main-col:nth-child(2) {
      background-image: url(../img/main-col2.jpg); }
    /* line 82, style.sass */
    #main .main-col:nth-child(3) {
      background-image: url(../img/main-col3.jpg); }

/* line 90, style.sass */
#univers {
  color: #0044bf;
  z-index: 200;
  margin-top: 100px;
  position: relative; }
  /* line 95, style.sass */
  #univers .univers {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 97, style.sass */
    #univers .univers-logo {
      width: 80%;
      padding: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      /* line 100, style.sass */
      #univers .univers-logo h2 {
        font-size: 3em;
        background-color: #fff; }
      /* line 103, style.sass */
      #univers .univers-logo img {
        margin: 20px;
        background-color: #fff;
        height: 4em; }
    /* line 111, style.sass */
    #univers .univers > img {
      width: 80%;
      display: block; }
    /* line 114, style.sass */
    #univers .univers p {
      margin: 20px 0;
      text-align: center;
      font-size: 1.5em;
      display: block;
      width: 80%; }

/* line 124, style.sass */
#ex {
  margin-top: 100px;
  position: relative;
  background-color: transparent; }
  /* line 125, style.sass */
  #ex .ex {
    background-repeat: no-repeat;
    padding-top: 110%;
    margin: 40px 20px;
    background-size: 100% auto; }
  /* line 130, style.sass */
  #ex .ex1 {
    background-image: url(../img/ex1.jpg); }
  /* line 132, style.sass */
  #ex .ex2 {
    background-image: url(../img/ex2.jpg); }
  /* line 134, style.sass */
  #ex .ex3 {
    background-image: url(../img/ex3.jpg); }
  /* line 139, style.sass */
  #ex h3 {
    margin: auto;
    display: inline;
    color: #0044bf;
    background-color: #fff;
    font-size: 2.5em;
    padding: 10px;
    width: 70%;
    margin-bottom: 10px; }
